@{
    ViewData["Title"] = "LH Pet";
}

<div class="container">

    <h1 class="text-center mt-5">Sistema de Controle Interno - LH Pet</h1>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <caption>Lista de clientes</caption>
            <table class="table table-hover table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th scope="col" class="text-center">ID</th>
                        <th scope="col" class="text-center">Nome</th>
                        <th scope="col" class="text-center">CPF</th>
                        <th scope="col" class="text-center">E-mail</th>
                        <th scope="col" class="text-center">Paciente (pet)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.listaDeClientes)
                    {
                        <tr>
                            <td class="text-center">@item.Id</td>
                            <td class="text-center">@item.Nome</td>
                            <td class="text-center">@item.Cpf</td>
                            <td class="text-center">@item.Email</td>
                            <td class="text-center">@item.Paciente</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <caption>Lista de fornecedores</caption>
            <table class="table table-hover table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th scope="col" class="text-center">ID</th>
                        <th scope="col" class="text-center">Nome</th>
                        <th scope="col" class="text-center">CNPJ</th>
                        <th scope="col" class="text-center">E-mail</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.listaDeFornecedores)
                    {
                        <tr>
                            <td class="text-center">@item.Id</td>
                            <td class="text-center">@item.Nome</td>
                            <td class="text-center">@item.Cnpj</td>
                            <td class="text-center">@item.Email</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>


